@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
body{
    background: #c9c7c736;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-container img{
    height: 50px;
}
.nav-link{
    color: lightslategray;
}
.nav-link:hover{
    color: rgb(86, 97, 108);
}
.pull-me-box{
    justify-content: flex-end;
    gap: 5px;
}
.pull-me-tag{
    height: 20px;
    width: 20px;
    background-color: #a8c43c;
    position: relative;

}
.pull-me-tag::after{
    content: "";
    position: absolute;
bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff; /* Matches background */
}